<div style="padding-left: 35%;">
  <app-modal [title]="'Pokemon Card'" *ngIf="showModal" (close)="toggleModal()">
    <app-pokemon-info [pokemon]="selectedPokemon" />
  </app-modal>
</div>
<div class="page-container">
  <div class="image-container">
    <img class="image-size"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png">
  </div>

  <div class="grid-container2">
    <div class="select-container">
      <span>Sort By: </span>
      <select id="sort" (change)="onSortChange($event)">
        <option *ngFor="let option of sortingOptions" [value]="option.value">
          {{ option.label }}
        </option>
      </select>
    </div>
    <div class="select-container">
      <span>Fitler By Type: </span>
      <select id="filter" (change)="onFilterChange($event)">
        <option *ngFor="let option of pokemonTypes" [value]="option.id">
          {{ option.name }}
        </option>
      </select>
    </div>
  </div>

  <div class="grid-container">
    <app-pokemon-item [pokemon]="pokemon" [pokemonTypes]="pokemonTypes" *ngFor="let pokemon of listOfPokemons"
      (click)="getPokemonInfo(pokemon.id)" />
  </div>

  <div *ngIf="listOfPokemons.length !== 0" class="pagination-container">
    <button (click)="changePage(false)" [disabled]="currentPage === 1" class="previous">&laquo; Previous</button>
    <button (click)="changePage(true)" [disabled]="currentPage === finalPage" class="next">Next &raquo;</button>
  </div>

  <div class="loading-container">
    <div *ngIf="listOfPokemons.length === 0" class="loader"></div>
  </div>

</div>